  body {
  margin: 0;
  background: linear-gradient(to bottom, white, #BBB5D8);
  gap: 20px;
}

.myButton{
  background-color: rgb(56, 38, 124);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
}

.menuButton{
  background-color: rgb(191, 173, 255);
  color: rgb(0, 0, 0);
  border: none;
  padding: 12px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 20px;
}

#center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 30px;
}

.laatikko {
  background: rgba(255, 255, 255, 0.45);
  padding: 32px 48px;
  border-radius: 24px;
  gap: 15px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(8px);
  align-items: center;
  display: flex;
  flex-direction: column;
}

.menulaatikko {
  background: rgba(255, 255, 255, 0.45);
  padding: 32px 48px;
  border-radius: 24px;
  gap: 15px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(8px);
  text-align: center;
  width: 100%;
  max-width: 400px;
  flex: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  
}

.tooltip {
  position: fixed;
  left: 100%;
  display: inline-block;
  margin-left: 8px;
}

.infoIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  vertical-align: middle;
  background: #7F52FF;
  color: white;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.tooltipText {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  left: 50%;
  transform: translateX(25%);
  width: 250px;
  padding: 20px;
  border-radius: 8px;
  background: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
  text-align: center;
  z-index: 10;
  border-style: dotted;
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
.titleblock{
  color: transparent;
  line-height: 50px;
}